<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Info</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div ><ul class = "navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/links">Links</a></li>
      </ul></div>
      <div ><h1 class="name">Contact Information</h1></div>

      <div class="bio"><p>Email: andrewjzerfas@gmail.com</p><p>Phone: 630-400-9426</p></div>
</body>
</html>