<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andy's Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
        <div ><ul class = "navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/links" >Links</a></li>
          </ul></div>
        <div ><h1 class="name">Andrew Zerfas</h1></div>
          <div class="bio">
            <p>My name is Andrew Zerfas and I'm a computer programmer from Illinois. I am proficient in html, css, python, java, and javascript.
              I am also adept with flask and express frameworks as well as SQL and noSQL databases.
            </p>
            <p>I have a certificate in Python, MERN, and Javascript from Coding Dojo. This gave me 32 weeks of intense programming experience where I not only learned how to program
              but also learned advanced problem solving.
            </p>
            <p>My previous work expierence was as a store manager at an idependantly owned collectibles store where I was responsible for operating the store. I would buy, sell, organize, assist customers.
              This work experience grew my critical decision making as well as honed my people skills.
            </p>
            <p>In my free time I enjoy working out, collecting figures and videogames, and submission grappling. 
              I enjoy hobbies with a seemingly endless knowledge ceiling. This is also a large reason I enjoy coding so much. No matter how well 
              I'm doing I can always improve.

            </p>
          </div>
    
</body>
</html>