<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>        
    <div ><ul class = "navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/links">Links</a></li>
  </ul></div>
  <div ><h1 class="name">Useful Links</h1></div>
  <div class="bio">
      <p><a class="links" href="https://www.linkedin.com/in/andrew-zerfas-60ba45218/">Linkedin</a></p>
      <p><a class="links" href="https://github.com/AndrewZerfas">GitHub</a></p>
</div>

</body>
</html>